<body>
<div class="header">
      <div class="header-logo">Pento</div>
      
      <div class="header-list">
        <ul>
          <li>ホーム</li>
          <li>アバウト</li>
          <li>スキル</li>
          <li>ワークス</li>
          <li>コンタクト</li>
        </ul>
      </div>
    </div>
    
    <div class="main">
        <div class="contents">
            <p>ペント</p>
        </div>
        </div>
    </main>
    </body>

